@tailwind base;
@tailwind components;
@tailwind utilities;

.font-mono {
	font-family: 'Fira Code', ui-monospace, SFMono-Regular, Menlo, Monaco,
		Consolas, 'Liberation Mono', 'Courier New', monospace;
}

body {
	@apply bg-neutral-800 font-mono;
}

@layer utilities {
	/* memory card game trophy */
	.text-trophy-xl {
		font-size: 10rem;
	}

	.text-trophy-xxl {
		font-size: 15rem;
	}

	/* cipher puzzle green text */
	.text-green {
		color: #00ff00;
	}
}
