@tailwind base;
@tailwind components;
@tailwind utilities;

.font-mono {
	font-family: 'Fira Code', ui-monospace, SFMono-Regular, Menlo, Monaco,
		Consolas, 'Liberation Mono', 'Courier New', monospace;
}

body {
	@apply bg-neutral-800 font-mono;
}

@layer utilities {
	.text-trophy-xl {
		font-size: 10rem;
	}

	.text-trophy-xxl {
		font-size: 15rem;
	}
}
